<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Coffee</title>
  </head>
  <body>
    <h1>Coffee!</h1>
    <h2>What's your favorite roast?</h2>
    <ul>
      <li><a href="/coffee/dark">Dark Roast</a></li>
      <li><a href="/coffee/medium">Medium Roast</a></li>
      <li><a href="/coffee/light">Light Roast</a></li>
    </ul>
    <h2 th:if="${coffees}">
      <p>You selected [[${roast}]]</p>
      <ul>
        <li th:each="coffee : ${coffee}"></li>
        <p>[[${coffee.brand}]] [[coffee.origin]] [[coffee.roast]] roast</p>
      </ul>

      <!--    <h2 th:if="${coffee}">-->
      <!--        thymeleaf standard dialect -->
      <!--        <p>You selected <span th:text="${roast}"></span> roast!</p>-->
      <!--        thymeleaf inlined expressions -->

      <!--        <p>You selected [[${coffee.roast}]] roast!</p>-->
      <!--        <p>We have great [[${coffee.roast}]] roast from [[${coffee.origin}]] </p>-->
    </h2>
    `
    <div>
      <h2>Sign up for our newsletter!</h2>
      <form action="/coffee" method="post">
        <label for="email">Your email:</label>
        <input type="email" name="email" id="email" />
        <button type="submit">Sign up</button>
      </form>
      <h3 th:if="${email}">
        Thanks for signing up! We'll send the newsLetter to [[${email}]]
      </h3>
    </div>
    `
  </body>
</html>
