<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Roll Dice</title>
  </head>
  <body>
    <h1>Choose a number!</h1>
    <ul>
      <li><a href="/roll-dice/1">1</a></li>
      <li><a href="/roll-dice/2">2</a></li>
      <li><a href="/roll-dice/3">3</a></li>
      <li><a href="/roll-dice/4">4</a></li>
      <li><a href="/roll-dice/5">5</a></li>
      <li><a href="/roll-dice/6">6</a></li>
    </ul>
    <p th:if="${randomNum != null}" th:text="${'Random number: '+ randomNum}"></p>
    <p th:if="${result != null && result}">You guess right!</p>
    <p th:if="${result != null && !result}">You guess wrong!</p>
  </body>
</html>
